# You must add here all the applications you want loaded by your application.
#
# There are two kind of applications to be loaded:
#	. core applications (child unit for the KOW_View package)
#	 these applications can be located anywhere.. they only need to be accessable through gnat
#
#	. user applications (any other package name)
#	 these applications must be located inside the applications/ folder.... and have some child folders
#	 of their own.
#
#
# The application structure must be:
#    APPLICATION_NAME.Component => contains all the component code...
#    APPLICATION_NAME.Entities  => contains all the entity code...
#
# Even though you can organize differently, I strongly sugest you follow this organization
# schema. This will allow other people to understand your code more easily




# Here we load a module with some entities.. only for fun
[Hello_World]
load_component="true"
load_entities="true"


# Please, don't remove the following applications unless you really know what you are doing



[KOW_View.Entities]
load_component="true"
load_entities="false"


[KOW_View.Navigation]
load_component="true"
load_entities="false"


[KOW_View.Pages]
load_component="true"
load_entities="false"


[KOW_View.Security]
load_component="true"
load_entities="false"


[KOW_View.Themes]
load_component="true"
load_entities="false"



